:root {
    --bdl-spacing-unit: 1; 

    --bdl-primary-color-main: #110222;
    --bdl-primary-color-light: #362d4a;
    --bdl-primary-color-dark: #000000;

    --bdl-accent-color-main: #daa520;
    --bdl-accent-color-dark: #ffd656;
    --bdl-accent-color-light: #a47700;

    --bdl-text-color: #ffffff;
    --bdl-nav-font-family: 'Courier New', monospace;
    --bdl-primary-font-family: 'Ubuntu Mono', sans-serif;
    --bdl-secondary-font-family: 'Courier Prime', monospace;
    --bld-tertiary-font-family: 'Cormorant Garamond', serif;

    --bdl-special-character: ' |';

    --bdl-decoration-box-shadow: -2px 0 2px var(--bdl-accent-color-dark);
}