:root {
    --bdl-spacing-unit: 1; 

    --bdl-primary-color: #FFFFFF;
    --bdl-accent-color: #00ff00;

    --bdl-text-color: #000000;
    --bdl-nav-font-family: 'Courier New', monospace;
    --bdl-primary-font-family: 'Ubuntu', sans-serif;
    --bdl-secondary-font-family: 'Courier Prime', monospace;
    --bld-tertiary-font-family: 'Cormorant Garamond', serif;

    --bdl-decoration-box-shadow: -2px 0 2px var(--bdl-accent-color-dark);
}

* {
    box-sizing: border-box;
}