:root {
    --lbwc-spacing-unit: 1; 

    --lbwc-primary-color: #FFFFFF;
    --lbwc-accent-color: #00ff00;
    --lbwc-accent-color-rgb: 0, 255, 0;
    --lbwc-background-accent-color: #f5f5f5;

    --lbwc-text-color: #000000;
    --lbwc-nav-font-family: 'Ubuntu', sans-serif;
    --lbwc-title-font-family: 'Ubuntu', sans-serif;
    --lbwc-body-font-family: 'Open Sans', sans-serif;

    --lbwc-decoration-box-shadow: -2px 0 2px var(--lbwc-accent-color-dark);
}

* {
    box-sizing: border-box;
    font-family: var(--lbwc-body-font-family);
}